
@font-face {
    font-family: 'DroidSans';
    src: url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'DroidSansBold';
    src: url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}
@font-face {
    font-family: 'DroidSerif';
    src: url(https://themes.googleusercontent.com/static/fonts/droidserif/v3/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
    font-family: 'DroidSerifBold';
    src: url(https://themes.googleusercontent.com/static/fonts/droidserif/v3/QQt14e8dY39u-eYBZmppwZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}

body {
    background: #b4d2dc;
}

.clear{
    clear:both;
}

#page-join {
    padding:40px 20px;
	background:#328EBD;
}

#page-join ::-webkit-input-placeholder {font-family: 'DroidSans';font-weight:bold; }
#page-join ::-moz-placeholder { font-family: 'DroidSans';font-weight:bold  }
#page-join :-ms-input-placeholder { font-family: 'DroidSans'; font-weight:bold }
#page-join input:-moz-placeholder { font-family: 'DroidSans'; font-weight:bold }


#page-join .fa {
    color: #696768;
}

.page-container {
    padding-left:15px;
    padding-right:15px;
    /*color: #3185b4;*/
}

.button-group {
    margin-bottom: 10px;
    margin-top: 25px;
}

.login-block {
    background: #ADD2E5;
    border-radius: 5px;
    padding: 25px;
}

.login-block  input[type="number"],
.login-block  input[type="text"], 
.login-block  input[type="email"], 
.login-block  input[type="password"],
.login-block  textarea, .loginBlock textarea{
    background: #DEECF5;
    color: #70706F;

    font-family: 'DroidSans';
    font-size: 26px;
    min-height: 65px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 40px;
}

.login-button {
    background: #ADD2E5;
    color: #328EBD;
    border: none;
    font-family: 'DroidSans';
    border-radius: 5px;
    padding: 14px 35px;
    font-size: 35px;
    text-shadow: none;
    min-width: 99px;
    margin-right: 5px;
}

.login-button-active {
    background:#537689;
    color:#ffffff;
}

.login-button-submit{
    background:#328EBD;
    color:#ffffff;
    text-shadow: none;
    box-shadow: 1px 2px 0px #888888;
}

#page-join  hr {
    color: white;
    border-top: 3px solid #eee;
}

.login-block h4 {
    color: #328EBD;
    font-family: 'DroidSans';
    font-size: 26px;
    margin: 0 0 20px 0;
}

.social-button li a i {
    padding: 10px;
    font-size: 34px;
    box-shadow: 1px 4px 0px #888888;
    border-radius: 5px;
    background: #DBE8F0;
    min-width: 63px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-button >li{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.login-block p {
    color: #71B0D2;
    font-family: 'DroidSans';
    font-size: 18px;
    font-weight: bold;
}

.remember-me-block {
	padding:15px;
}

.remember-me{
    color:#fff;
    font-family: 'DroidSans';
    font-size:20px;
    margin-left: 10px;
}

 #page-homepage .heading{
    background:#328EBD;
    padding:10px;
    font-size:18px;
	color:#fff;
	border-radius:5px;
	margin-top: 15px;
}

 #page-homepage {
    background:#C1DCE6;
    padding-bottom: 20px;
}

.op-header {
    background: #2784af;
    padding: 10px;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}
.menu{
    background: url('../images/menu-logo.png') no-repeat;
    padding: 19px;
    background-size: contain;
	float:left;
	margin-top: 5px;
}

.logo {
	width:80%;
	max-width:365px;
}

.memorial-slider figcaption{
    width: 100%;
    color: #3e3e3e;
    font-family: 'DroidSerif';
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;
}
.memorial-slider  figure .top-image,
.memorial-slider  figure .thumb-image
.memorial-slider  figure .top-image,
.memorial-slider  figure .thumb-image {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;

}


.memorial-slider  figure:hover .top-image,
.memorial-slider  figure:hover .thumb-image,
.memorial-slider  figure.cs-hover .top-image,
.memorial-slider  figure.cs-hover .thumb-image {
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -ms-transition: -ms-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    transition: transform 1.2s;

    -webkit-transform: translateY(-105%);
    -moz-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    -o-transform: translateY(-105%);
    transform: translateY(-105%);
}

.memorial-slider  figure:hover figcaption,
.memorial-slider  figure.cs-hover figcaption {
    -webkit-transform: translateY(-65px);
    -moz-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    -o-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    -ms-transition: -ms-transform 1.2s;
    transition: transform 1.2s;
}
.padding-200 {
  padding-top:50px;
}


.memorial-figure {
  background:#E4EEF0;
  margin-top: 8px;
  border-bottom: 2px solid #71B1D1;
  min-height: 420px;
  overflow: hidden;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align:center;
}
.memorial-figure h4 {
  color:#5D6164;
  font-family: 'DroidSans';
  font-size:18px;
}
.memorial-figure p {
  color:#5D6164;
  font-family: 'DroidSans';
  font-size:15px;
  padding:25px;
}
.memorial-figure-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width:100%
}

.memorial-footer > div{
  background: #E4EEF0;
  min-height: 43px;
  border-right: 2px solid #71B1D1;
  padding-top: 5px;
  position:relative;
}

span.hit-count {
    font-family: "DroidSans";
}

.memorial-footer > div:last-child {
  border-right: 0px;
}

.thumb-image {
    margin-top: -20%;
    border-radius: 50%;
    width: 44%;
}

.column {
    width: 49%;
    float: left;
    margin-bottom:15px;
}

.three-column {
    width: 33.3333%;
    float: left;
}

.three-column img {
    width:50%;
}

.memorial-slider .column:nth-child(2n+2) {
    float: right;
}

.list-group-custom{
  background-color: #328ebd !important;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #328ebd !important;
  border-right: 1px solid #328ebd !important;


}

a.list-group-custom {
    color: #fff !important;
}

#page-message {
	background:#B8D3DE;
	padding-bottom: 10px;
}

#page-message .heading {
    background: #E4EDF2;
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid #B8D3DE;
    border-bottom: 1px solid #B8D3DE;
    font-weight: bold;
}

#page-message .to {
    background: #fff;
    padding: 10px;
    border-top: 2px solid #C1C1C1;
    border-bottom: 2px solid #C1C1C1;
}

.text-area {
    background: #FAFBFD;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'DroidSans';
    font-size: 12px;
    color: #3285B4;
    padding: 4px;
    border: 4px solid #E0E0E2;
}

.add-photo {
	font-size: 14px;
	font-weight:bold;
}

.add-photo i {
	padding: 0 6px;
	
}

.send-button {
    color: #ffffff;
    text-shadow: none;
    box-shadow: 1px 2px 0px #888888;
    background: #328EBD;

    border: none;
    font-family: 'DroidSans';
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 18px;
    min-width: 69px;
    margin-right: 5px;
  color: #fff !important;
}

/* page 27 */
.header-background{
    background-color: #3e8db8;
    padding-bottom: 10px;
}

.header-message{
    padding-left: 20px;
    font-weight: normal;
}

.bckSecondMsg{
    background-color: #3185b4;
    color: #ffffff;
}

.user-container{
    margin: 10px;
}

.user-name{
    color: #3185b4;
    font-weight: bolder;
}

.user-detail{
    color: #686765;
}

.user-record{
    color: #3185b4;
    font-weight: bold;
}

.header-one {
    font-family: 'DroidSans';
    font-size: 40px;
    background: #E6F1F5;
    padding: 10px;
    color: #3284B3;
    margin: 15px 0;

}

#page-message .messages-block {
    margin: 15px 0;
    border: 2px solid #86B5CF;
    border-radius: 5px;
    background: #E4EDF2;
    display: inline-block;
	padding-bottom:25px;
}

#page-message .message-body {
    border-bottom: 2px solid #86B5CF;
    padding: 25px;
}

#page-message .messages-block .message-body:last-child {
    border-bottom: 0;
}

#page-message .message-description {
    font-family: 'DroidSans';
    font-size:26px;
    line-height: 130%;
}

#page-message .message-description img.half {
    margin-top:15px;
    width:49%;
}

#page-message .message-description img.full {
    margin-top:15px;
    width:99%;
}

#page-message .author {
    padding-top:55px;
}

#page-message .message-head img {
    margin-right:15px;
    float:left;
}

#page-message .author h5 {
    font-family: 'DroidSans';
    font-size: 16px;
    color: #3E3D3D;
    font-weight: bold;
    margin-bottom:5px;
}

#page-message .author p {
    font-family: 'DroidSans';
    font-size: 14px;
    color: #3E3D3D;
}

#page-message .table-type-blocks {
    background: #E4EDF2;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 7px 0;
}

#page-message .table-type-blocks span {
    width: 70%;
    display: inline-block;
}

#page-message .table-type-blocks span:last-child {
    width: 29%;
}

.text-area-options {
	font-weight:bold;
}

.text-area-options i {
	margin-right:5px;
}


#page-message .table-type-body {
    background: #E4EDF2;
    font-size:26px;
    padding-bottom:10px;
    margin-bottom:10px;
}
#page-message .table-type-body p{
    margin-top: 5px;
    padding: 5px 20px;
    margin: 7px 15px;
}

#page-message .table-type-body p span {
    width:60%
}

#page-message .table-type-body p span:last-child{
    float:right;
	width:40%
}

#page-message .footer p{
    padding: 10px;
    color: #3286B4;
    font-size: 18px;
}

#page-notification {
    background: #B8D3DE;
}

.top-label {
    padding-top: 12px;
    font-weight: bold;
}

.notification-wrapper {
    padding: 20px;
    background: #E4EDF2;
}

.notification-wrapper p .glyphicon {
    color: #2F86B1;
    padding-top: 10px;
    font-size: 19px;
    float: right;
    margin-right: 20px;
}

.notification-description {
    font-family: 'DroidSans';
    color: #434A54;
    font-size: 24px;
    margin: 0px 20px 10px 10px;
    line-height: 100%;
    position: relative;
}

.time-span {
    font-size: 16px;
}

.dull .time-span,
.dull .notification-description {
    color: #81807E;
}

#page-notification .footer p {
    padding: 10px;
    color: #3286B4;
    font-size: 18px;
}

#page-settingpage {
    background: #b4d2dc;
}

#page-settingpage .top-label {
    font-weight: bold;
    font-size: 20px;
}

.form-settings {
    background-color: #e2ecf1;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-settings .form-row{
    margin-bottom:15px;
}

.form-settings label {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    margin-left:15px;
    display: block;
}

.form-settings input{
    background: #f3f7fa;
    font-weight: bold;
    font-size: 20px;
    width: 90%;
    display: inline;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
}

.form-row .send-button {
    margin-right: 10%;
}


.collections img{
    width:24%;
}

/* Page no 20*/

.content {
    font-family: 'DroidSans';
    font-size: 30px;
    /*text-align: justify;*/
    line-height: 31px;
    color:#696768;
}

.labelFont{
    font-size: 20px;
    font-weight: normal !important;
}

.labelFont span{
    color: red;

}

.sendBtn{
    display: table;
    margin: 0 auto !important;
}

.form-row label {
    display: block;
    text-transform:uppercase;
    font-size: 24px;
    font-weight: normal;
}

.form-create-memorial {
    padding:20px
}

.form-create-memorial textarea{
    color: #aaa;
}


.form-create-memorial textarea,
.form-create-memorial input[type="text"]{
    background: #e4edf2;
    font-size: 20px;
    width: 90%;
    display: inline;
    margin: 0 10px 10px 0;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0;
    font-weight: normal;
}

.form-create-memorial label i {
    color: red;
    font-size: 28px;
    top: 6px;
    position: relative;
}

.required {
    color:#ff0000;
}

.upload-photo{
    margin:15px 0;
}

.collections {
    margin-bottom:15px
}

.form-create-memorial {
    font-size: 16px;
    color:#444a56;
    font-weight: bold;
}

.half {
    width:45% !important;
}

.relative-name {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.relative-image{
    float:left;
    margin-right: 10px;
}

.schools-divider {
    margin-bottom: 20px;
}
.checkbox-wrapper,
.radio-wrapper {
    padding-left:0px;
    color:#808080;
    font-weight:normal;
}

.form-create-memorial .login-button {
    margin-top:15px;
    padding: 10px 15px;
    font-size: 24px;
    min-width: 99px;
    margin-right: 5px;
}

#page-curator {
    background:#c2d9e7;
}
#page-curator .user-container .curator-image{
    float: left;
    width: 40%;
    margin-right: 35px;
    margin-bottom: 15px;
}

#page-curator .user-container .user-name {
    font-family: 'DroidSans';
    font-weight:bold;
    font-size: 30px;
    padding-top: 10px;
}

#page-curator .user-container .user-detail {
    font-family: 'DroidSans';
    font-size: 26px;
    padding: 10px 0;
}

.social-icons li  a img {
    width: 55px;
}

#page-curator .curator-description{
    font-family: 'DroidSans';
    font-size: 40px;
    /*text-align: justify;*/
}

#page-curator .user-container .user-record-title {
    font-family: 'DroidSans';
    margin-top: 30px;
    font-size: 38px;
    border-bottom: 3px solid #bfbfc1;
    padding-bottom: 20px;
    color: #308fbd;
}

#page-curator .user-container .user-records{
    font-family: 'DroidSans';
    font-size: 32px;
    padding: 10px 0;
    color: #686669;
}

.curator-profile {
    margin: 20px 20px 20px 0;
}
.curator-profile-img {
    float: left;
    margin: 0px 20px 20px 0;
}

.curator-profile-name {
    font-size: 20px;
    text-transform: uppercase;
    color: #666;
    font-family: 'DroidSans';

}

.curator-wall {
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    min-height: 150px;
    padding: 15px;
    font-family: "Times New Roman";
    font-size: 21px;
    margin-bottom:20px;
}



/*page 15*/
.headerMargin{
    margin-top:0px !important;
}

hr {clear: both; }

.content-area{
    height: auto;
    background-color: #e4edf2;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
}

.reply-repot-link{
    border: 1px solid #73b3cf;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.loginBlock{
    margin-top: 10px;
}

.content-text{
    font-size: 25px;
    color: #3d3d3d;
}

.user-detail{
    font-size: 20px;
}

.three-border{
    border-top: 2px solid #71B1D1;
}

.three-border img{
    width: 100%;
}
.list-item-style{
    text-align: center;
}

.count-position{
    position: relative;
}

.hit-align{
    position: absolute;
    top: -8px;
    left: -10px;
}
.post-button{
    padding: 5px 8px;
    font-size: 16px;
    min-width: 70px;
    border: none;
    font-family: 'DroidSans';
    border-radius: 5px;
}

.family-branch{
    width: 100%;
    border-radius: 5px;
}

.curated-by {
    font-family: 'DroidSans';
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.curated-by-divider {
    border-right: 2px solid #ccc;
}

.curated-by-caption {
    color: #BDBEC0;
    padding: 10px 0 0 10px;
    width: 20%;
}

.curated-by-name {
    margin-left: 20px;
}

.curated-by img {
    margin-right: 10px;
}

.share-memorial {
    font-size: 26px;
    color: #337ab7;
}

.share-memorial .fa {
    margin-left:10px;
}

.curated-by > div {
    display:inline-block;
}
.curated-by-name span,
.curated-by-divider span {

    margin-right: 20px;
}

.curated-by-name img,
.curated-by-divider img {
    width: 20%;
}

.user-container .offset {
    margin-left:40%;
}



@media all and (max-width: 480px) {
    .row{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .page-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .login-button {
        padding: 5px 8px;
        font-size: 16px;
        min-width: 70px;
    }

    .login-block {
        padding: 10px;
    }

    .login-block input[type="text"],
    .login-block input[type="email"],
    .login-block input[type="password"] {
        font-size: 16px;
        min-height: 25px;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 5px 15px;
    }

    .login-block h4 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .social-button {
        margin-left: 5px;
    }

    .social-button li a i {
        padding: 5px;
        font-size: 25px;
        min-width: 35px;
        margin-right: 6px;
        margin-bottom: 10px;
    }

    .login-block p {
        font-size: 10px;
    }

    .remember-me-block {
        padding: 5px;
        margin-left: 10px;
    }

    .remember-me {
        font-size: 12px;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .menu {
        padding: 10px;
        margin-top: 0;

    }

    .logo {
        width: 50%;
    }

    .op-header {
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    #page-homepage .heading {
        margin-top: 5px;
        font-size: 12px;
        padding:5px;
        margin-bottom:5px;

    }
    .memorial-figure {
        margin-top: 0px;
        min-height: 200px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .memorial-figure h4 {
        font-size: 14px;
        margin-bottom: 0;
    }

    .memorial-figure p {
        font-size: 12px;
        padding: 6px;
    }

    .column{
        margin-bottom: 5px;
    }

    span.hit-count {
        left: 35px;
        top: 3px;
    }

    .memorial-footer > div {
        padding-top:0;
    }

    .three-column {
        min-height:25px !important;
    }

    .three-column img {
        margin-left: 5px;
    }

    .share-memorial {
        font-size: 12px;
    }

    .curated-by {
        font-size: 8px;
    }

    .curated-by-name img,
    .curated-by-divider img {
        width: 30%;
        float:left;
    }

    .curated-by-caption {
        top: 14px;


    }

    .curated-by-name span, .curated-by-divider span {
        top: 3px;
    }

    .curated-by img {
        margin-right: 2px;
    }

    .curated-by-name {
        margin-left: 2px;
        width:30%;
    }

    .curated-arrow img {
        width: 40%;
    }

    .curated-by-divider{
        width: 30%;
    }

    .header-one {
        margin: 5px 0;
        font-size: 14px;
        padding: 4px;
    }

    #page-curator .user-container .user-name {
        padding-top: 5px;
        margin: 0;
        font-size: 14px;
    }

    #page-curator .user-container .curator-image {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .user-container {
        margin: 0;
        padding: 0 5px;
    }

    #page-curator .user-container .user-detail {
        font-family: 'DroidSans';
        font-size: 10px;
        padding: 1px 0;
    }

    .social-icons li a img {
        width: 20px;
    }

    .list-inline>li {
         padding-right: 0;
         padding-left: 0;
    }

    #page-curator .user-container .user-detail {
        margin: 0 0 5px;
    }

    #page-curator .curator-description {
        font-size: 12px;
        padding: 0 5px;
    }

    #page-curator .user-container .user-record-title {
        margin-top: 5px;
        font-size: 14px;
        padding-bottom: 5px;
    }

    #page-curator .user-container .user-records {
        font-size: 12px;
        padding: 0 0;
    }

    .curator-profile-img {
        margin: 0px 10px 10px 0;
        width: 20%;
    }

    .curator-profile-name {
        font-size: 12px;
    }

    .curator-wall {
        min-height: 50px;
        padding: 10px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .content {
        font-size: 12px;
        line-height: 130%;
        padding: 0 5px;
    }

    .heddingContent {
        font-size: 14px;
        font-weight: bold;
        margin: 5px;
        color: #696667;
    }

    .form-create-memorial {
        padding: 0 10px;
    }

    .form-row label {
        font-size: 12px;
        margin:0;
        margin-top: 5px;
    }
    .form-create-memorial textarea, .form-create-memorial input[type="text"] {
        font-size: 12px;
        padding: 4px 10px;
        margin: 0 0 0 0;
    }

    .form-row img {
        margin-top: 5px;
    }

    .form-row p {
        font-size:12px;
        margin: 0;
    }

    .form-create-memorial label i {
        font-size: 12px;
        top: 0px;
    }

    .upload-photo {
        margin: 6px 0 0 0;
    }

    .collections img {
        width: 23%;
    }

    .send-button {
        padding: 5px 11px;
        font-size: 12px;
        min-width: 50px;
    }

    .form-create-memorial textarea {
        margin-top: 5px;
    }

    .relative-image {
        margin-right: 5px;
        width: 25%;
    }

    .relative-name {
        font-size: 12px;
        padding-top: 5px;
        margin-bottom: 24px;
    }

    .form-row input:nth-child(2n+3) {
        margin-top: 10px;
    }

    .required {
        font-size: 10px;
        font-weight: normal;
    }

    .form-create-memorial .login-button {
        font-size: 12px;
        padding: 5px 10px;
        min-width: 50px;
    }

    #page-settingpage .top-label {
        font-weight: bold;
        font-size: 12px;
        padding: 0;
    }

    .form-settings {
        padding: 5px 10px 10px 10px;
    }

    .form-settings input {
        font-size: 12px;
        padding: 4px 10px;
        margin: 0 0 0 0;
    }
    .form-settings .form-row {
        margin-bottom: 5px;
    }

    .notification-wrapper {
        padding: 0px 5px;
    }

    .notification-description {
        font-size: 12px;
        margin: 0px 0px 10px 0px;
    }

    .time-span {
        font-size: 12px;
    }

    .margin-clear {
        padding:10px;
    }


    #page-message .table-type-body p {
        margin-top: 1px;
        padding: 5px 5px;
        margin: 0px 5px;
        font-size: 12px;
    }

    #page-message .table-type-body p span:last-child {
        width: 45%;
    }

    #page-message .table-type-body {
        margin-top: 10px;
    }

    #page-message .footer p {
        font-size: 12px;
        font-weight: bold;
        padding: 0 10px;
    }

    #page-message .message-body {
        padding: 10px;
    }

    #page-message .author h5 {
        font-size: 14px;
    }

    #page-message .author p {
        font-size: 12px;
    }

    #page-message .messages-block {
        margin: 7px 0;
    }

    .message-description p {
        font-size: 12px;
        line-height: 130%;
    }

    .text-area-options {
        font-size: 12px;
    }

    #page-message .table-type-blocks span {
        width: 54%;
        font-size: 12px;
    }

    #page-message .table-type-blocks span:last-child {
        width: 46%;
        float: right;
    }

    #page-message .table-type-blocks {
        padding: 3px 8px;
    }
}

.heddingContent {
    color: #696667;
}

.curated-by-divider{
    width: 30%;
}
.curated-by-name img,
.curated-by-divider img {
    width: 30%;
    float:left;
}


.curated-by-name {
    width:30%;
}

.offset .user-record-title {
    border-bottom: 0 !important;
}

.offset .user-records {
    padding: 0 0 0 10px !important;
}
